/*

!.spacemacs
!.gitignore
!.gitconfig
!.zprofile
!.bash_profile
!.Rproj.user
.R/*
!.R/
!README
.R/snippets/*
!packagelist/
packagelist/*
!packagelist/condalist.yml
!.R/snippets/
!packagelist/brewlist 
