

snippet b_page
	:::::: {.columns}
	::: {.column width="50%"}
	```{r, eval=TRUE, echo=FALSE, out.width="100%",fig.align='center'}
	knitr::include_graphics()
	```
	:::

	::: {.column width="50%"}
	```{r, eval=TRUE, echo=FALSE, out.width="100%",fig.align='center'}
	knitr::include_graphics()
	```
	:::
	::::::
	
snippet b_header
	---
	title: 
	subtitle: 
	author: |
	  | Shiyuan Guo
	  | sguo039\@ucr.edu
	output: 
	  beamer_presentation:
	    slide_level: 2
	    theme: "Darmstadt"
	    colortheme: "beaver"
	    fonttheme: "default"
	    highlight: "tango"
	    template: ~/Dropbox/rmd_templates/noSection.tex
	classoption: "aspectratio=169"
	nocite: |
	  @
	fontsize: 9pt
	csl: ~/Dropbox/bibliography/cell.csl
	bibliography: ~Dropbox/bibliography/ref.bib
	---
	
	
snippet ![
	![${1:label}](${2:location})

snippet flowchart
	```{r, echo=FALSE, eval=FALSE}
	flow <- DiagrammeR::grViz("
	    digraph flow{
	    graph [layout = dot, rankdir = LR];
	    nodesep=1.0
	    node [shape = box, style = 'filled, bold', color = grey];
	    
	    subgraph level0{
	      gr[label = 'GRanges \n (small vs intermediate)'];
	      gff[label = 'GFF'];
	      ref[label = 'Reference Genome'];
	    }
	    
	    subgraph level1{
	      label = 'loop for every fastq-bam pairs';
	      sb[label = 'scanBam']; 
	      samp[label = 'sample \n (small vs intermediate)']; 
	      io[label = 'i/o fastq'];
	    }
	    
	    gr -> gff; 
	    gr -> sb; 
	    gr -> ref;
	    sb -> samp ; 
	    samp -> io [ constraint='false' ];
	    sb -> io [ dir='back' ]; 
	}")
	```


snippet rcpp
	```{r, engine='Rcpp'}
	#include <Rcpp.h>
	using namespace Rcpp;
	
	${0}
	
	```
